config network_switcher 'settings'
	option enabled '0'
	option check_interval '60'
	option ping_count '3'
	option ping_timeout '3'
	option switch_wait_time '3'
	option log_level 'INFO'
	list ping_targets '8.8.8.8'
	list ping_targets '1.1.1.1'
	list ping_targets '223.5.5.5'

config interface 'wan'
	option enabled '1'
	option interface 'wan'
	option primary '1'
	option metric '10'

config interface 'wwan'
	option enabled '1'
	option interface 'wwan'
	option primary '0'
	option metric '20'

config policy_routing
    option enabled '0'

#config routing_rule
#    option enabled '1'
#    option name 'Sample IP Rule'
#    option target '192.168.100.10'
#    option interface 'wwan'

#config routing_rule
#    option enabled '1'
#    option name 'Sample Domain Rule'
#    option target 'example.com'
#    option interface 'wan'

#config schedule
#    option enabled '1'
#    option time '03:00'
#    option target 'wan'
