
config settings
	option check_interval '60'
	option ping_success_count '1'
	option ping_count '3'
	option ping_timeout '3'
	option switch_wait_time '3'
	list ping_targets '8.8.8.8'
	list ping_targets '1.1.1.1'
	list ping_targets '223.5.5.5'
	list ping_targets '114.114.114.114'

config interface 'wan'
	option interface 'wan'
	option metric '10'
	option primary '1'



config schedule 'morning'
	option time '08:00'
	option target 'auto'

config schedule 'evening'
	option time '18:00'
	option target 'auto'

