config network_switcher 'settings'
	option enabled '0'
	option check_interval '60'
	option ping_count '3'
	option ping_timeout '3'
	option switch_wait_time '3'
	option log_level 'INFO'
	option ping_success_count '1'
	list ping_targets '8.8.8.8'
	list ping_targets '1.1.1.1'
	list ping_targets '223.5.5.5'

config interface 'wan'
	option enabled '1'
	option interface 'wan'
	option primary '1'
	option metric '10'

config interface 'wwan'
	option enabled '1'
	option interface 'wwan'
	option primary '0'
	option metric '20'

config policy_routing
    option enabled '0'
    option rules_text ''
# E.g.
# 192.168.100.10 wan
# example.com wwan
# *.google.com wan
# 10.0.0.0/8 wwan
